<template name="sideBar">
  <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" style="margin-top: 2%">
    <button type="button" class="navbar-toggle collapsed element-list-button center-block text-center" data-toggle="collapse" data-target="#element-list" aria-expanded="false">
      <span class="sr-only">Toggle elements list</span>
      <span>Components</span>
      <span class="glyphicon glyphicon-th-list text-center"></span>
    </button>

    <div class="collapse navbar-collapse" id="element-list">
      <ul class="list-group">
        <li class="list-group-item create-elem" elem-type="item1">
          <p>Element Item1</p>
        </li>
        <li class="list-group-item create-elem" elem-type="item2">
          <p>Element Item2</p>
        </li>
        <li class="list-group-item create-elem" elem-type="item3">
          <p>Element Item3</p>
        </li>
        <li class="list-group-item create-elem" elem-type="item4">
          <p>Element Item4</p>
        </li>
        <li class="list-group-item create-elem" elem-type="item5">
          <p>Element Item5</p>
        </li>
      </ul>
    </div>
    <div class="delete-zone well">
      <span class="glyphicon glyphicon-trash text-center center-block"></span>
    </div>
  </div>
</template>